// UI styles for MIT ArtX

/* IE10 Metro responsive
 Required for Windows 8 Metro split-screen snapping with IE10
 Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport {
  width: device-width;
}
/* Scrollbar fixes for IE10 */
.no-touchcapable {
    -ms-overflow-style: scrollbar;
}

html {
    background-color:$page-bg;
    color:$text-color;
    @include font-smoothing(on);
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="icon-"]{-ms-zoom: 1;}

body {
    font-family:"Lato", "sans-serif";
    font-weight:300;
    letter-spacing:1px;
}

/* Skipnav links */
/* Changing any of the positioning CSS will most likely break the skip link in some browser, so if you change it, test it */
.skiplinkholder {
    p {
        margin:0;
    }
    a, a:link, a:visited {
        display:block;
        width:99%;
        position:absolute;
        top:0;
        left:-400%;
        z-index:2;
        
        /* Visual styling. Change this as desired */
        color:$white;
        background:$black;
        text-decoration:none;
        border-bottom:solid #ccc 2px;
        padding:5px;
    }
    a:focus, a:active {
        left:0;
        top:0;
        z-index:1002;
    }
}
.skiptargetholder {
    position:absolute;
    left:-400%;
}
/* You may find on certain page layouts that the skip link is appearing underneath other elements on the page in IE7 and below. If this is the case then try uncommenting the two statements below, and if that does not work then try increasing the z-index value above as well */
/*
*+html #skiplinkholder a:focus, *+html #skip a:active {position:relative}
* html #skiplinkholder a:active {position:relative}
*/

/* Picturefill overrides (we assume images to be block elements by default) */
span[data-picture], 
span[data-picture] span,
img {
    display:block;
}

img {
    max-width:100%;
    height:auto;
}

a {
    //display:inline-block;
    text-decoration:none;
    color:$link-color;
    @include transition(color .1s linear, background-color .1s linear);    
    
    &:focus {
        outline:none;
    }

    .no-touchcapable & {
        &:focus,
        &:hover {
            color:$link-hover-color;
            background-color:$black-20pct;
        }
    }
}

.btn {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    background-color:$black-20pct;
    padding:.5em;
    line-height:1;
    border:none;
    
    &.btn-round {
        border-radius:50%;
        @include transition(box-shadow .2s linear);
        background-color:rgba(0,0,0,.01);
        z-index:1;
        
        &:after {
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            transition: transform 0.2s, opacity 0.2s;
            content:"";
            //pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
            border-radius: 50%;
            background-color:$black-30pct;
        }
    }

    &.btn-left {
        float:left;
    }

    &.btn-right {
        float:right;
    }
}

.no-touchcapable .btn {
    &:focus,
    &:hover {
        background-color:$black-40pct;
        border:none;
    }
    &.btn-round {

        &:focus,
        &:hover {
            box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
            background-color:transparent;

            &:after {
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                -ms-transform: scale(0.85);
                transform: scale(0.85);
            }
        }
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p,
ul,
ol {
   margin:0 0 ($spacing-unit*1.5); 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:400;
    line-height:1.2;
}

h1, .h1 {
    @include font-size(20px, false);
}

h2, .h2 {
    @include font-size(18px, false);
}

h3, .h3 {
    @include font-size(16px, false);
}

h4, .h4 {
    @include font-size(14px, false);
}

h5, .h5 {
    @include font-size(13px, false);
}
h6, .h6 {
    @include font-size(12px, false);
}

ul.plain,
ul.listview,
ul.bxslider {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

ul.listview {
    position:relative;
    margin-left:-($spacing-unit);
    margin-right:-($spacing-unit);
    background-color:lighten($page-bg, 5);
    
    li {
        border-bottom:1px solid $gray-dark;
    }

    a {
        background-color:transparent;
        display:block;
        position:relative;
        padding:.75em $spacing-unit;
        line-height:1;
        color:$white;
        border:none;
        
        &:after {
            content:"\e055";
            font-family: 'artx';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position:absolute;
            right:$spacing-unit;
            color:$link-color;
        }

        &:focus,
        &:hover {
            background-color:$black-10pct;

            &:after {
                color:$link-hover-color;
            }
        }
    }
}

ul {
    h1,h2,h3,h4,h5,h6 {
        margin-bottom:0;
    }
}

hr {
    height:1px;
    border:0;
    border-top:1px solid $main-color-dark;
    border-bottom:none;
    background:none;
    padding:0;
    margin:($spacing-unit) 0;
    clear:both;
}

// Clearfix
.cf {
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

.wrapper {
    //width:100%;
    //overflow:hidden;
}

.masthead,
.footer {
    width:100%;
}

.masthead {
    background:$masthead-bg;
    text-align:center;
    padding:11px $spacing-unit;
    
    h1, .h1 {
        margin:0;
        @include font-size(17px);
        
        a {
            display:inline-block;
            color:$white;
            padding:.5em;
            position:relative;
            margin:-.5em 0;
        }
    }

    .btn-left,
    .btn-right {
        position:absolute;
        margin-top:-.3em;
    }
    .btn-left {
        left:$spacing-unit;
    }
    .btn-right {
        right:$spacing-unit;
    }
}

.footer {
    background:$footer-bg;
    text-align:center;
    padding:7px $spacing-unit;
}
.footer-header {
    position:relative;
    margin:-7px (-$spacing-unit) 0;

    h2 {
        line-height:33px;
        text-align:left;
        margin-bottom:0;
        
        a {
            display:block;
            padding:7px $spacing-unit;
            position:relative;
        }
        .icon {
            position:absolute;
            right:$spacing-unit;
            top:17px;
        }
    }

    h2.related {
        float:left;
        padding:7px $spacing-unit;
        
        a {
            display:inline;
            padding:0;
        }
    }

    .btn-right {
        margin-right:$spacing-unit;
        margin-top:7px;
    }

}

.content {
    padding:$spacing-unit;
}

.positionfixed {
    .masthead, .footer {
        position:fixed;
        width:auto;
        left:0;
        right:0;
        z-index:2;
    }
    .masthead {
        top:0;
        box-shadow:0 10px 20px $black-40pct;
    }
    .footer {
        bottom:0;
        box-shadow:0 -10px 20px $black-20pct;
    }
    .content {
        position:relative;
        padding:(46px+$spacing-unit) $spacing-unit 144px;
        z-index:1;
    }
    
    &.no-touchcapable {
        .content {
            padding:(46px+$spacing-unit) $spacing-unit 184px;
        } 
    }

    .sidr {
        top:46px;
    }

    .layout-nofooter .content {
        padding-bottom:$spacing-unit !important;
    }
}


// Color swatches for styleguide
.swatches {
    margin-left:0;
    padding-left:0;

    li {
        text-align:center;
        display:inline-block;
        margin-right:20px;
        margin-bottom:10px;
    }

    .swatch {
        display:block;
        width:50px;
        height:50px;
        margin:0 auto;
        background-color:$gray-lighter;
    }
    .swatch-base {
        background-color:$main-color;
    }
    .swatch-dark {
        background-color:$main-color-dark;
    }
    .swatch-medium {
        background-color:$main-color-medium;
    }
    .swatch-light {
        background-color:$main-color-light;
    }
    .swatch-bg {
        background-color:$main-color-bg;
    }
    .swatch-accent {
        background-color:$accent-color;
    }
}

/* Favorite stars, similar event symbols */
.favorite-star,
.event-symbol {
    display:inline-block;
    vertical-align:middle;
    border-bottom:none;
    padding:.5em;
}
.favorite-star {
    background-color:rgba(0,0,0,.01);
    
    &:focus,
    &:hover {
        background-color:inherit;
    }

    .icon {
        position:relative;
        border-radius:50%;
        @include transition(box-shadow .2s linear);
        background-color:transparent;
        z-index:1;
        
        &:after {
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            transition: transform 0.2s, opacity 0.2s;
            content:"";
            pointer-events: none;
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            left:-.25em;
            top:-.21em;
            border-radius: 100%;
            background-color:$black-30pct;
        }
    }
}

/* Event blocks */

.event-image {
    display:block;
    border-bottom:none;
    background:$black-20pct;
    text-align:center;
    
    a {
        display:inline-block;
        cursor:pointer;
    }
    
    img {
        margin:0 auto;
    }
}

.event-info {
    padding:$spacing-unit;
    position:relative;
    margin:0 auto;
    max-width:640px;
}
.event-title {
    margin-bottom:.3em;
}
.event-venue {
    text-transform:uppercase;
    font-size:90%;
}

.event-info .event-symbol {
    position:absolute;
}

.event-detail { // not in a slider
    position:relative;
    margin:(-$spacing-unit) (-$spacing-unit) 0;
    
    .event-title,
    .event-venue,
    .event-date {
        position:relative;
        padding-left:($spacing-unit*2);

    }
    .event-symbol {
        top:-($spacing-unit/2);
        left:-($spacing-unit/2);
        @include font-size(16px, false);
    }
    .event-venue {
        margin-bottom:.5em;
    }
}

/* bxSlider overrides */
.bx-wrapper {
    margin: 0 auto;
    
    .bx-controls-direction,
    .bx-pager {
        display:none;
    }
    
    .bx-viewport {
       -moz-box-shadow: none;
       -webkit-box-shadow: none;
       box-shadow: none;
       border:  none;
       left:0;
       background: transparent;
    }

    .bx-loading {
        background: url(/ui/img/ajax-loader.gif) center center no-repeat transparent;
    }

    .no-touchcapable & .bx-pager {
        display:block;
    }
}

/* Home screen slider styles */
.discover-slider {
    position:relative;
    margin:(-$spacing-unit) (-$spacing-unit) 0;
    
    ul {
        margin:0;
    } 

    .event-info {
        padding-left:($spacing-unit*3);
        
        .event-symbol {
            position:absolute;
            top:$spacing-unit/2;
            left:$spacing-unit/2;
        }
    }
}



/* Peeking slider styles */
.slider-style-peek {
    .bx-wrapper {

        li {
            z-index:1;
        }
        
        .event-image {
            position:relative;
            @include transition(left .5s linear);
            
            left:0;
        }

        .slide-prev,
        .slide-next {
            z-index:2;
        }
        .slide-prev .event-image {
            left:($spacing-unit);
        }
        .slide-next .event-image {
            left:(-$spacing-unit);
        }
    }
}
// Side controls for non-touch devices
.peek-slider-previous,
.peek-slider-next {
    display:none;
}
.no-touchcapable .slider-style-peek .bx-wrapper {
    ~ .peek-slider-previous,
    ~ .peek-slider-next {
        display:block;
        position:absolute;
        width:$spacing-unit;
        height:100%;
        background-color:transparent;
        z-index:5;
        top:0;
        
        //TODO: figure out a good hover/focus solution for accessibility
        &:focus,
        &:hover {
            background-color:transparent;
        }
    }
    ~ .peek-slider-previous {
        left:0;
    }
    ~ .peek-slider-next {
        right:0;
    }
}

/* Favorites carousel styles */
.favorite-slider {
    position:relative;
    margin:0 (-$spacing-unit) -7px;
    padding-bottom:0;
    clear:both;
    background: darken($footer-bg, 5);

    ul {
        list-style:none;
        margin:0;
        padding:0;
        
        .no-js & {
            text-align:center;
        }
    }
    li {
        width:100px;
        height:100px;
        overflow:hidden;
        float:left;
        
        .no-js & {
            margin-left:5px;
            margin-bottom:5px;
            float:none;
            display:inline-block;
            vertical-align:top;
        }
    }
    a {
        border:none;
        
        .no-touchcapable & {
            img {
                -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
                -moz-transition: -moz-transform 0.2s, opacity 0.2s;
                transition: transform 0.2s, opacity 0.2s;
                
                -webkit-transform: translatez(0);
                -moz-transform: translatez(0);
                    -ms-transform: translatez(0);
                    -o-transform: translatez(0);
                    transform: translatez(0);
            }

            &:focus,
            &:hover {
                img {
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                } 
            }
        }
    }

    .favorite-slider-previous,
    .favorite-slider-next {
        display:none;
    }

    /* bxSlider overrides */
    .bx-wrapper {

        a  {
            position:relative;
            display:block;
            width:100%;
            height:100%;

            img {
                position:absolute;
                left:0;
                right:0;
            }
        }
    }
}

.no-touchcapable .favorite-slider {
    margin: 0 (-$spacing-unit) 30px;

    .bx-wrapper {
        .bx-pager {
            display:block;
        }
    }

    @include mq(436px) {

        padding:0 (33px + $spacing-unit * 2);

        .bx-wrapper ~ .favorite-slider-previous,
        .bx-wrapper ~ .favorite-slider-next {
            display:block;
            position:absolute;
            top:50%;
            margin-top:-1em;
        } 

        .bx-wrapper ~ .favorite-slider-previous {
            left:$spacing-unit;
        }
        .bx-wrapper ~ .favorite-slider-next {
            right:$spacing-unit;
        }
    }
}

/* Overriding some sidr styles */
.sidr {
    height:auto;
    bottom:0;

    ul {
        margin-bottom:0;

        li {

            line-height:3em;

            &:hover,
            &.active,
            &.sidr-class-active {
                border-top:1px solid transparent;
                line-height:3em;
            }
        }

    }

    &.right {
        box-shadow:-10px 0 20px $black-20pct;
    }

    &.left {
        left: -260px;
        right: auto;
        box-shadow:10px 0 20px $black-20pct;
    }
}

