---
layout: subpage-standalone
title: Events and Exhibitions by Location
titlebar: By Location
active: bylocation
---

        <div class="content layout-footer" role="main">

            <div id="event-map" class="map">
            </div>

            <div id="event-list" class="thumb-list">
            </div>
            
            <a href="#" id="load-more" class="btn btn-block btn-hidden" data-feed="/GetEventsByLocation/">Load more</a>
            
            <script type="text/template" id="template-eventlist">
            <% _.each(eventArray, function(eventObj, key){ %>

            <% var eventStartDate = moment(eventObj.start_date).format("ddd, MMM Do YYYY"); // "Sun, Feb 14th 2010" %>
            <% var eventStartTime = moment(eventObj.start_date).format("h:mm a"); // "10:15 am" %>

            <% var eventEndDate = moment(eventObj.end_date).format("MMM Do, YYYY"); // "Feb 14th, 2010" %>
            <% var eventEndTime = moment(eventObj.end_date).format("h:mm a"); // "10:15 am" %>

            <% var compareStartDate = moment(eventObj.start_date).format("M/D/YYYY"); // "2/14/2010" %>
            <% var compareEndDate = moment(eventObj.end_date).format("M/D/YYYY"); // "2/14/2010" %>
                    
            <div class="item-block cf">
                <div class="item-image">
                    <a href="exhibition.html">
                        <img src="<%= eventObj.image %>" alt="" />
                    </a>
                </div>
                <div class="item-info">
                    <h2 class="item-title">
                        <a href="exhibition.html" class="truncate"><%= eventObj.name %></a>
                    </h2>
                    <p class="item-date">
                    <% if (compareStartDate != compareEndDate) { %>
                        Through <%= eventEndDate %>
                    <% } else { %>
                        <%= eventStartDate %><br />
                        <%= eventStartTime %> - <%= eventEndTime %>
                    <% } %>
                    </p>

                    <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                </div>
            </div>

            <% }); %>
                
            </script>
                    
        <script type="text/template" id="item-template">

        <% _.each(jsonArray, function(eventObj, key){ %>

        <% var eventStartDate = moment(eventObj.start_date).format("ddd, MMM Do YYYY"); // "Sun, Feb 14th 2010" %>
        <% var eventStartTime = moment(eventObj.start_date).format("h:mm a"); // "10:15 am" %>

        <% var eventEndDate = moment(eventObj.end_date).format("MMM Do, YYYY"); // "Feb 14th, 2010" %>
        <% var eventEndTime = moment(eventObj.end_date).format("h:mm a"); // "10:15 am" %>
        <% var compareStartDate = moment(eventObj.start_date).format("M/D/YYYY"); // "2/14/2010" %>
        <% var compareEndDate = moment(eventObj.end_date).format("M/D/YYYY"); // "2/14/2010" %>
                        
        <div class="item-block cf">
        <div class="item-image">
            <a href="exhibition.html">
                <img src="<%= eventObj.image %>" alt="" />
            </a>
        </div>
        <div class="item-info">
            <h2 class="item-title">
                <% if (eventObj.event_type == "exhibition") { %>
                    <a href="exhibition.html" class="truncate"><%= eventObj.name %></a>
                <% } else { %>
                    <a href="event.html" class="truncate"><%= eventObj.name %></a>
                            <% } %>
            </h2>
                <p class="item-venue"><%= eventObj.location.name %></p>
                <p class="item-date">
                <% if (compareStartDate != compareEndDate) { %>
                            Through <%= eventEndDate %>
                <% } else { %>
                    <%= eventStartDate %><br />
                    <%= eventStartTime %> - <%= eventEndTime %>
                <% } %>
                </p>
	  <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <% }); %>
            </script>

                
        </div> <!-- /content -->

        <footer class="footer">
            <div class="footer-header cf">
                <h2 class="h3 related">Near you</h2>
            </div>
            <div class="footer-slider">

                <!-- Dev Note - Optimal image size for thumb-list: 400px by 400px square images -->

                <ul id="footer-slider" class="bxslider cf">
         
                    <li><a href="event.html"><img src="/ui/img/square-middlebrook.jpg" alt="Workshop with artist Jason Middlebrook, ICA Boston" /></a></li>
                    <li><a href="exhibition.html"><img src="/ui/img/square-quilts.jpg" alt="Quilts and Color: The Roy Pilgrim Collection, Museum of Fine Arts" /></a></li>
                    <li><a href="#"><img src="/ui/img/square-knights.jpg" alt="Knights: Arms and Armor Throughout History, Worcester Art Museum" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/1" alt="Event Title, Event Venue" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/2" alt="Exhibition Title, Exhibition Venue" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/3" alt="Event Title, Event Venue" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/4" alt="Event Title, Event Venue" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/5" alt="Event Title, Event Venue" /></a></li>
                    <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/6" alt="Event Title, Event Venue" /></a></li>
                </ul>

                <a href="#" id="footer-slider-previous" class="btn btn-round footer-slider-previous" title="Previous"><i class="icon icon-rewind"></i><span class="visuallyhidden">Previous</span></a>
                <a href="#" id="footer-slider-next" class="btn btn-round footer-slider-next" title="Next"><i class="icon icon-fast-forward"></i><span class="visuallyhidden">Next</span></a>

            </div> <!-- /favorite-slider -->
        </footer> <!-- /footer -->