---
layout: subpage
title: Event detail
titlebar: Event
active: event
---

        <div class="content layout-footer" role="main">

            <div id="target-eventdetail">

            </div>

            <script type="text/template" id="template-eventdetail">
            <% _.each(eventArray, function(eventObj, key){ %>

            <div class="item-block item-detail">
                <div class="item-image">
                    <img src="<%= eventObj.image %>" alt="" onerror="if (this.src != '/ui/img/rect-noimage.jpg') this.src = '/ui/img/rect-noimage.jpg';" />
                </div>
                <div class="item-info">
                    <h2 class="item-title">
                        <%= eventObj.name %>
                        <a href="#" class="favorite-star item-symbol" data-event-id="<%= eventObj.id %>" title="Toggle as a favorite"><i class="icon icon-star"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </h2>
                    <p class="item-venue"><a href="venue.html" data-venue-id="<%= eventObj.location.id %>" class="venue-detail-link"><span class="item-symbol"><i class="icon icon-location"></i></span><%= eventObj.location.name %></a></p>
                    <p class="item-date"><span class="item-symbol"><i class="icon icon-calendar"></i></span><%= eventObj.dates %></p>
                    <div class="item-description">
                        <%= eventObj.description %>
                    </div>
                </div>
            </div>
            <% }); %> 
            </script>
                   
        </div> <!-- /content -->

        <footer class="footer">
{% include _footer-related.html %}
        </footer> <!-- /footer -->