---
layout: subpage-standalone
title: Favorites
titlebar: Favorites
active: favorites
---

        <div class="content" role="main">

            <p>Introductory text lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quisquam obcaecati eum maxime voluptatem quos praesentium esse saepe sunt officiis.</p>

            <div class="thumb-list">
                <div class="item-block cf">
                    <div class="item-image">
                        <a href="exhibition.html">
                            <img src="/ui/img/square-quilts.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <a href="exhibition.html" class="truncate">Quilts and Color: The Roy Pilgrim Collection</a>
                        </h2>
                        <p class="item-venue">Museum of Fine Arts</p>
                        <p class="item-date">Aug 3 (closing soon)</p>
                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <div class="item-block cf">
                    <div class="item-image">
                        <a href="event.html">
                            <img src="/ui/img/square-middlebrook.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <a href="event.html" class="truncate">Workshop with artist Jason Middlebrook</a>
                        </h2>
                        <p class="item-venue">ICA Boston</p>
                        <p class="item-date">Aug 3</p>
                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <div class="item-block cf">
                    <div class="item-image">
                        <a href="event.html">
                            <img src="http://www.pem.org/writable/resources/image/feature/web_copy1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <a href="event.html" class="truncate">Raven's Many Gifts: Native Art of the Northwest Coast</a>
                        </h2>
                        <p class="item-venue">Peabody Essex Museum</p>
                        <p class="item-date">Aug 7</p>
                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <div class="item-block cf">
                    <div class="item-image">
                        <a href="event.html">
                            <img src="http://www.pem.org/writable/resources/image/feature/630_129-copy.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <a href="event.html" class="truncate">6:30 am, Robert Weingarten</a>
                        </h2>
                        <p class="item-venue">Peabody Essex Museum</p>
                        <p class="item-date">Aug 14</p>
                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <div class="item-block cf">
                    <div class="item-image">
                        <a href="event.html">
                            <img src="http://www.pem.org/writable/resources/image/feature/turner-venice_nga_1942-9-85.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <a href="event.html" class="truncate">Turner &amp; the Sea</a>
                        </h2>
                        <p class="item-venue">Peabody Essex Museum</p>
                        <p class="item-date">Aug 18</p>
                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>
            </div> <!-- /thumb-list -->

            <a href="#" id="load-more" class="btn btn-block btn-hidden" data-feed="/LoadFavorites/">Load more</a>

            <div id="test-target">

            </div>

            <script type="text/template" id="test-template">
                <% _.each(jsonArray, function(eventObj, key){ %>
                    <p>Hi there!</p>
                <% }); %>
            </script>

            <script type="text/template" id="item-template">

                <% _.each(jsonArray, function(eventObj, key){ %>

                <% var eventStartDate = moment(eventObj.start_date).format("ddd, MMM Do YYYY"); // "Sun, Feb 14th 2010" %>
                <% var eventStartTime = moment(eventObj.start_date).format("h:mm a"); // "10:15 am" %>

                <% var eventEndDate = moment(eventObj.end_date).format("MMM Do, YYYY"); // "Feb 14th, 2010" %>
                <% var eventEndTime = moment(eventObj.end_date).format("h:mm a"); // "10:15 am" %>

                <% var compareStartDate = moment(eventObj.start_date).format("M/D/YYYY"); // "2/14/2010" %>
                <% var compareEndDate = moment(eventObj.end_date).format("M/D/YYYY"); // "2/14/2010" %>
                        
                <div class="item-block cf">
                    <div class="item-image">
                        <a href="exhibition.html">
                            <img src="<%= eventObj.image %>" alt="" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h2 class="item-title">
                            <% if (eventObj.event_type == "exhibition") { %>
                            <a href="exhibition.html" class="truncate"><%= eventObj.name %></a>
                            <% } else { %>
                            <a href="event.html" class="truncate"><%= eventObj.name %></a>
                            <% } %>
                        </h2>
                        <p class="item-venue"><%= eventObj.location.name %></p>
                        <p class="item-date">
                        <% if (compareStartDate != compareEndDate) { %>
                            Through <%= eventEndDate %>
                        <% } else { %>
                            <%= eventStartDate %><br />
                            <%= eventStartTime %> - <%= eventEndTime %>
                        <% } %>
                        </p>

                        <a href="#" class="favorite-star item-symbol" data-eventID="1" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                    </div>
                </div>

                <% }); %>
            </script>

        </div> <!-- /content -->