---
layout: subpage-standalone
title: History
titlebar: History
active: history
---

        <div class="content" role="main">
            <div class="if-not-loggedin">
                <p>You have no history yet. <a href="#" class="signup-trigger">Sign up</a> or <a href="sign-in.html" class="signin-link">sign in</a> to keep track of events and exhibitions that you have attended!</p>
            </div>

            <div class="if-loggedin">
                <p>Oh hi, <span class="dynamic-username"></span>!</p>
                <p>These are your saved events and exhibitions that happened in the past.</p>

                <div id="error-historylist" class="error-messages">
                    <p>You have no history yet.</p>
                </div>

                <form id="history-form" name="history-form" method="post" action="" autocomplete="off">

                    <div id="target-historylist" class="thumb-list">
                        
                    </div> <!-- /thumb-list -->
                </form>

                <script type="text/template" id="template-historylist">
                    <% _.each(jsonArray, function(favoriteObj, key){ %>
                           
                    <div class="item-block cf">
                        <div class="item-image">
                            <a href="event.html?eventid=<%= favoriteObj.event.id %>">
                                <img src="<%= favoriteObj.event.image %>" alt="" onerror="if (this.src != '/ui/img/rect-thumb-noimage.jpg') this.src = '/ui/img/rect-thumb-noimage.jpg';" />
                            </a>
                        </div>
                        <div class="item-info">
                            <h2 class="item-title">
                                <a href="event.html?eventid=<%= favoriteObj.event.id %>" class="truncate"><%= favoriteObj.event.name %></a>
                            </h2>
                            <p class="item-venue"><%= favoriteObj.event.location.name %></p>

                            <label for="attended-<%= favoriteObj.event.id %>">Did you attend?</label>
                            <input type="checkbox" name="attended-<%= favoriteObj.event.id %>" id="attended-<%= favoriteObj.event.id %>" value="attended" class="customize-checkbox" data-role="none" data-event-id="<%= favoriteObj.event.id %>" data-user-favorite-id="<%= favoriteObj.id %>" />

                            <a href="#" class="favorite-star item-symbol" data-event-id="<%= favoriteObj.event.id %>" title="Toggle as a favorite"><i class="icon icon-star2"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                        </div>
                    </div>

                    <% }); %>
                </script>
            </div>
        </div> <!-- /content -->