---
layout: subpage-standalone
title: Manage my interests
titlebar: My Interests
active: interests
---
        <div class="content" role="main">
            <p id="interest-intro">Thanks for signing up! Please help us curate your ArtsConnect experience by selecting some of your interests. When finished, you can start discovering events. <br /><br /><a href="home.html" class="btn">Discover events</a></p>

            <form id="interest-form" name="interest-form" method="post" action="">
                <ul class="listview custom-checkbox-list">

                    <li>
                        <label for="interest-535">19th century</label>
                        <input type="checkbox" name="interest" id="interest-535" value="19th century" class="customize-checkbox" data-role="none" data-interest-id="535" />
                    </li>
                    <li>
                        <label for="interest-534">20th century</label>
                        <input type="checkbox" name="interest" id="interest-534" value="20th century" class="customize-checkbox" data-role="none" data-interest-id="534" />
                    </li>

                    <!--
                    <li>
                        <label for="interest-architecture">Architecture</label>
                        <input type="checkbox" name="interest" id="interest-architecture" value="Architecture" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-crafts">Crafts</label>
                        <input type="checkbox" name="interest" id="interest-crafts" value="Crafts" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-design">Graphic design</label>
                        <input type="checkbox" name="interest" id="interest-design" value="Design" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-drawing">Drawing</label>
                        <input type="checkbox" name="interest" id="interest-drawing" value="Drawing" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-painting">Painting</label>
                        <input type="checkbox" name="interest" id="interest-painting" value="Painting" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-illustration">Illustration</label>
                        <input type="checkbox" name="interest" id="interest-illustration" value="Illustration" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-multimedia">Multimedia</label>
                        <input type="checkbox" name="interest" id="interest-multimedia" value="Multimedia" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-photography">Photography</label>
                        <input type="checkbox" name="interest" id="interest-photography" value="Photography" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-sculpture">Sculpture</label>
                        <input type="checkbox" name="interest" id="interest-sculpture" value="Sculpture" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-textile">Textile</label>
                        <input type="checkbox" name="interest" id="interest-textile" value="Textile" class="customize-checkbox" data-role="none" />
                    </li>
                    <li>
                        <label for="interest-video">Video</label>
                        <input type="checkbox" name="interest" id="interest-video" value="Video" class="customize-checkbox" data-role="none" />
                    </li>  -->
                </ul>
               
               <script type="text/template" id="interests-template">
               <% _.each(jsonArray, function(interestObj, key){ %>
               <% var id = "interest-" + interestObj.id %>
               <li>
                <label for="<%= id %>"> <%= interestObj.name %> </label>
                <input type="checkbox" name="interest"
                    id="<%= id %>" value="<%= interestObj.name %>"
                    class="customize-checkbox" />
               </li>
               </script>

            </form>
        </div> <!-- end content -->
