---
layout: subpage-standalone
title: Manage my interests
titlebar: My Interests
active: interests
---
        <div class="content" role="main">
            <div class="if-not-loggedin">
                <p>You'll need to <a href="sign-in.html">sign in</a> or <a href="#" class="signup-trigger">sign up</a> in order to access your interests!</p>
            </div>
            <div class="if-loggedin">
                <p id="interest-onboarding-intro" class="interest-intro">Select your interests so we can provide you recommended exhibitions. <br /><br /><a href="index.html" class="btn">View Exhibitions</a></p>

                <p id="interest-normal-intro" class="interest-intro">Keeping your interests updated helps us provide you better recommendations for exhibitions in the Boston area.</p>

                <form id="interest-form" name="interest-form" method="post" action="">
                    <ul id="interest-form-list" class="listview custom-checkbox-list">

                    </ul>
                   
                    <script type="text/template" id="interests-template">
                    <% _.each(jsonArray.tags, function(interest, key){ %>
                        <li>
                            <label for="interest-<%= interest.id %>"><%= interest.name %></label>
                            <input type="checkbox" name="interest"
                                id="interest-<%= interest.id %>" value="<%= interest.name %>"
                                class="customize-checkbox" data-role="none" data-interest-id="<%= interest.id %>" />
                        </li>
                    <% }); %>
                    </script>

                    <script type="text/template" id="interests-user-template">
                    <% _.each(jsonArray.interests, function(interest, key){ %>
                        <li>
                            <label for="user-interest-<%= interest.tag.id %>"><%= interest.tag.name %></label>
                            <input type="checkbox" name="interest" id="user-interest-<%= interest.tag.id %>" value="<%= interest.tag.name %>" class="customize-checkbox" data-role="none" data-interest-id="<%= interest.tag.id %>" data-user-interest-id="<%= interest.id %>" checked="checked" />
                        </li>
                    <% }); %>
                    </script>

                </form>
            </div>
        </div> <!-- end content -->
