---
layout: subpage
title: Venue details
titlebar: Venue
active: venue
footerslidertype: venue-events-slider
---

        <div class="content layout-footer" role="main">

            <div id="target-venuedetail">

            </div>

            <script type="text/template" id="template-venuedetail">
            <% _.each(venueArray, function(venueObj, key){ %>

            <% var fullURL = venueObj.url; %>
            <% var trimmedURL = fullURL.replace(/.*?:\/\//g, ""); %>

            <div class="item-block item-detail venue-detail">
                <div class="item-image">
                    <img src="<%= venueObj.image %>" alt="" onerror="if (this.src != '/ui/img/rect-noimage.jpg') this.src = '/ui/img/rect-noimage.jpg';" />
                </div>
                <div class="item-info">
                    <h2 class="item-title"><%= venueObj.name %></h2>
                    <p class="item-location"><a href="bydate.html" data-venue-id="<%= venueObj.id %>"><span class="item-symbol"><i class="icon icon-location"></i></span><%= venueObj.address %></a></p>
                    <% /* Originally the address was only showing the street address, rather than the whole thing */ %>
                    <dl>
                        <dt>Hours:</dt>
                        <dd><%= venueObj.hours %></dd>
                        <% /* Originally each line of the hours had its own DD tag */ %>
                    </dl>
                    <p class="item-website"><a href="<%= venueObj.url %>" target="_blank"><span class="item-symbol"><i class="icon icon-globe"></i></span><%= trimmedURL %></a></p>
                    <p><%= venueObj.description %></p>
                </div>
            </div>

            <% }); %> 
            </script>
                   
        </div> <!-- /content -->

        <footer class="footer">
{% include _footer-venue-events.html %}
        </footer> <!-- /footer -->