{% include _head.html %}
<body id="page--{{ page.active }}" class="page--{{ page.active }} ui-page-theme-a">

    <div data-role="page" class="wrapper">

    {% include _masthead-subpage.html %}

    {{ content }}

    {% include _panel-menu.html %}

    </div> <!-- /wrapper -->

    {% include _modal-signup.html %}

    <!-- Javascript -->
    <script src="ui/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="ui/js/jquery/jquery.migrate.1.2.1.min.js"></script>
    <script src="ui/js/scripts-concat.min.js"></script>
    <script src="ui/js/jquery/jquery.mobile-1.4.2.min.js"></script>
    
</body>
</html>