<header class="masthead" role="banner" data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1><a href="index.html">{{ page.titlebar }}</a></h1>

    <a href="#" class="ui-btn-left ui-btn-noborder ui-btn-nopadding ui-btn-icon-notext btn btn-round" data-rel="back" title="Back"><i class="icon icon-arrow-left"></i><span class="visuallyhidden">Back</span></a>

    <a href="#menu-panel" id="menu-trigger" class="ui-btn-right ui-btn-noborder ui-btn-nopadding ui-btn-icon-notext btn btn-round" title="Menu"><i class="icon icon-menu"></i><span class="visuallyhidden">Menu</span></a>
</header> <!-- /header -->