<div id="menu-panel" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" class="menu-panel">
  <ul>
    <li class="menu-user-greeting"><span>Hi, <b class="dynamic-username"></b>!</span></li>
    <li class="menu-home{% if page.active == "home" %} active{% endif %}"><a href="/">Discover Artbot</a></li>
    <li class="menu-calendar{% if page.active == "bydate" %} active{% endif %}"><a href="bydate.html">By Date</a></li>
    <li class="menu-location{% if page.active == "bylocation" %} active{% endif %}"><a href="bylocation.html">By Location</a></li>
    <li class="menu-favorites{% if page.active == "favorites" %} active{% endif %}"><a href="favorites.html">Favorites</a></li>
    <li class="menu-history{% if page.active == "history" %} active{% endif %}"><a href="history.html">History</a></li>
    <li class="menu-settings{% if page.active == "settings" %} active{% endif %}"><a href="settings.html">Settings</a></li>
    <li class="menu-interests{% if page.active == "interests" %} active{% endif %}"><a href="interests.html">My Interests</a></li>
    <li class="menu-signin{% if page.active == "signin" %} active{% endif %}"><a href="sign-in.html" class="signin-link">Sign in</a></li>
    <li class="menu-logout"><a href="#" class="action-logout">Log out</a></li>
  </ul>
</div>