<div id="menu-panel" class="menu-panel">
  <ul>
    <li{% if page.active == "home" %} class="active"{% endif %}><a href="home.html">Discover ArtsConnect</a></li>
    <li{% if page.active == "bydate" %} class="active"{% endif %}><a href="bydate.html">By Date</a></li>
    <li{% if page.active == "bylocation" %} class="active"{% endif %}><a href="#">By Location</a></li>
    <li{% if page.active == "favorites" %} class="active"{% endif %}><a href="favorites.html">Favorites</a></li>
    <li{% if page.active == "history" %} class="active"{% endif %}><a href="history.html">History</a></li>
    {% if page.mode != "loggedout" %}<li{% if page.active == "settings" %} class="active"{% endif %}><a href="settings.html">Settings</a></li>{% endif %}
    <li{% if page.active == "interests" %} class="active"{% endif %}><a href="interests.html">My Interests</a></li>
    <li{% if page.active == "signin" %} class="active"{% endif %}>{% if page.mode == "loggedout" %}<a href="sign-in.html">Sign in</a>{% else %}<a href="sign-in.html">Log out</a>{% endif %}</li>
  </ul>
</div>