<div class="footer-slider-messages error-messages">

    <p id="footer-slider-msg-favoritesignup" class="footer-slider-msg">You have no favorites yet. <a href="#" class="signup-trigger">Sign up</a> or <a href="sign-in.html" class="signin-link">sign in</a> to save and access your favorite events and exhibitions!</p>

    <p id="footer-slider-msg-nofavorites" class="footer-slider-msg">You have no favorites yet. Tap the star icon to save an event or exhibition!</p>

    <p id="footer-slider-msg-noevents" class="footer-slider-msg">No exhibitions found.</p>

    <p id="footer-slider-msg-generalerror" class="footer-slider-msg">An error occurred, please reload the page and try again.</p>

    <p id="footer-slider-msg-noeventsnearby" class="footer-slider-msg">There are no exhibitions within <span id="location-radius">X</span> miles of your current location.</p>

    <p id="footer-slider-msg-nogeolocation" class="footer-slider-msg">Artbot couldn't detect your location.</p>

</div>

<div id="{{ page.footerslidertype }}" class="footer-slider">

    <ul id="footer-slider" class="bxslider cf">

    </ul>

    <span id="footer-slider-previous" class="footer-slider-previous"></span>
    <span id="footer-slider-next" class="footer-slider-next"></span>
   
</div> <!-- /favorite-slider -->

<script type="text/template" id="template-favoriteslider">
    <% _.each(itemArray, function(favoriteObj, key){ %>
    <% if (favoriteObj.id != -1) { %>
    <li><a href="event.html?eventid=<%= favoriteObj.event.id %>"><img src="<%= favoriteObj.event.image %>" alt="<%= favoriteObj.event.name %>" onerror="if (this.src != '/ui/img/rect-noimage.jpg') this.src = '/ui/img/rect-noimage.jpg';" /></a></li>
    <% } %>
    <% }); %>
</script>

<script type="text/template" id="template-eventslider">
    <% _.each(itemArray, function(eventObj, key){ %>
    <% if (eventObj.id != -1) { %>
    <li><a href="event.html?eventid=<%= eventObj.id %>"><img src="<%= eventObj.image %>" alt="<%= eventObj.name %>" onerror="if (this.src != '/ui/img/rect-noimage.jpg') this.src = '/ui/img/rect-noimage.jpg';" /></a></li>
    <% } %>
    <% }); %>
</script>