<div class="footer-slider">

    <!-- Dev Note - Optimal image size for footer slider: 400px by 400px square images -->

    <ul id="footer-slider" class="bxslider cf">
        <li><a href="event.html"><img src="/ui/img/square-middlebrook.jpg" alt="Workshop with artist Jason Middlebrook, ICA Boston" /></a></li>
        <li><a href="exhibition.html"><img src="/ui/img/square-quilts.jpg" alt="Quilts and Color: The Roy Pilgrim Collection, Museum of Fine Arts" /></a></li>
        <li><a href="#"><img src="/ui/img/square-knights.jpg" alt="Knights: Arms and Armor Throughout History, Worcester Art Museum" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/1" alt="Event Title, Event Venue" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/2" alt="Exhibition Title, Exhibition Venue" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/3" alt="Event Title, Event Venue" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/4" alt="Event Title, Event Venue" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/5" alt="Event Title, Event Venue" /></a></li>
        <li><a href="#"><img src="http://lorempixel.com/400/400/abstract/6" alt="Event Title, Event Venue" /></a></li>
    </ul>

    <a href="#" id="footer-slider-previous" class="btn btn-round footer-slider-previous" title="Previous"><i class="icon icon-rewind"></i><span class="visuallyhidden">Previous</span></a>
    <a href="#" id="footer-slider-next" class="btn btn-round footer-slider-next" title="Next"><i class="icon icon-fast-forward"></i><span class="visuallyhidden">Next</span></a>
   
</div> <!-- /favorite-slider -->