            <div id="discover-slider" class="discover-slider slider-style-peek">

                <ul class="bxslider cf">
                    
                </ul>

                <a href="#" id="peek-slider-previous" class="peek-slider-previous" title="Previous"><span class="visuallyhidden">Previous</span></a>
                <a href="#" id="peek-slider-next" class="peek-slider-next" title="Next"><span class="visuallyhidden">Next</span></a>

            </div> <!-- /discover-slider -->

            <script type="text/template" id="template-discoverslider">
            <% _.each(eventArray, function(eventObj, key){ %>
                <li>
                    <div class="item-block">
                        <div class="item-image">
                            <a href="event.html?eventid=<%= eventObj.id %>">
                                <img src="<%= eventObj.image %>" alt="" onerror="if (this.src != '/ui/img/rect-noimage.jpg') this.src = '/ui/img/rect-noimage.jpg';" />
                            </a>
                        </div>
                        <div class="item-info">
                            <h2 class="item-title"><a href="event.html?eventid=<%= eventObj.id %>"><%= eventObj.name %></a></h2>
                            <p class="item-venue"><%= eventObj.location.name %></p>

                            <a href="#" class="favorite-star item-symbol" data-event-id="<%= eventObj.id %>" title="Toggle as a favorite"><i class="icon icon-star"></i><span class="visuallyhidden">Toggle as a favorite</span></a>
                        </div>
                    </div>
                </li>
            <% }); %>
            </script>